{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block body_id %}id="blog-list-sidebar-left" class="blog"{% endblock %}
{% block content %}
{% load i18n %}
  <!-- main content -->
    <div class="main-content"`>
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'about:home' %}">
                                                <span>{% trans 'Home' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'product:products' %}">
                                                <span>{% trans 'Living Room' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'about:abouts' %}">
                                                <span>{% trans 'Sofa' %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                        <!-- category -->
                                        <div class="sidebar-block">
                                            <div class="title-block">{% trans 'Categories' %}</div>
                                            <div class="block-content">
                                                {% for cat in categories %}
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="#">{{ cat.title }}</a>
                                                    <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">
                                                        <div class="cateTitle">
                                                            <a href="#" class="cateItem">{{ cat.title }}</a>
                                                            <div class="subCategory collapse" id="subCategory-fruits" aria-expanded="true" role="status">
                                                                {% for shot in categories %}
                                                                    <div class="cateTitle">
                                                                    <a href="#" class="cateItem">{{ shot.short_title }}</a>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="cateTitle">
                                                            <a href="#" class="cateItem">{{ cat.title }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- product tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                {% trans 'Blog Tags' %}
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in tags %}
                                                        <li>
                                                        <a href="#" title="Show products matching tag Hot Trend">{{ tag.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- advertising -->
                                        <div class="sidebar-block group-image-special">
                                            <div class="effect">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="banner-2" title="banner-2">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h2>{% trans 'Recent Posts' %}</h2>
                                        <div class="list-content row">
                                            {% for blog in blogs %}
                                            <div class="hover-after col-md-5 col-xs-12">
                                                <a href="{% url 'blogs:blog-detail' pk=blog.id %}">
                                                    <img src="{{ blog.image.url }}" alt="img">
                                                </a>
                                            </div>
                                            <div class="late-item col-md-7 col-xs-12">
                                                <p class="content-title">
                                                    <a href="{% url 'blogs:blog-detail' pk=blog.id %}">{{ blog.title|slice:":50" }}</a>
                                                </p>
                                                <p class="post-info">
                                                    <span>{{ blog.created_at|date:"M d, Y" }}</span>
                                                    <span>{{ blog.comment }}</span>
                                                    <span>{{ blog.tag }}</span>
                                                </p>
                                                <p class="description">
                                                    {{ blog.long_description|slice:":50" }}
                                                </p>
                                                <span class="view-more">
                                                    <a href="">{% trans 'view more' %}</a>
                                                </span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="page-list col">
                                            <ul class="justify-content-center d-flex">
                                                <li>
                                                    <a rel="prev" href="#" class="previous disabled js-search-link">
                                                        {% trans 'Previous' %}
                                                    </a>
                                                </li>
                                                <li class="current active">
                                                    <a rel="nofollow" href="#" class="disabled js-search-link">
                                                        1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a rel="nofollow" href="#" class="disabled js-search-link">
                                                        2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a rel="next" href="#" class="next disabled js-search-link">
                                                        {% trans 'Next' %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}